/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin-left: 1rem;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Notification Component */
.notification {
  color: black;
  background: lightgrey;
  text-align: center;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  z-index: 1;
}

.notification.good {
  color: green;
}

.notification.bad {
  color: red;
}



/* SearchBox Component */
.search-container {
  margin-bottom: 20px;
}

.search-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #222;
  color: #fff;
}

/* NewContact Component */
.add-contact-container {
  margin-bottom: 20px;
}

.add-contact-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-contact-container form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.add-contact-container label {
  display: block;
  font-weight: bold;
}

.add-contact-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #222;
  color: #fff;
}

.add-contact-container button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* ContactList Component */
.contact-list {
  margin-bottom: 20px;
}

.contact-list h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card {
  width: 100%;
  max-width: 12rem;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background-color: #444;
}

.card .name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.card .number {
  color: #ccc;
  font-size: 12px;
}

.card button {
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  align-self: flex-end;
}
